h1 {
  font-family: $Raleway;
  font-size: $xxxxx-large;
  font-weight: $bold;
}

h2 {
  font-family: $Raleway;
  font-size: $xxx-large;
  font-weight: $bold;
}

h3 {
  font-family: $Raleway;
  font-size: $xx-large;
  font-weight: $bold;
}

h4 {
  font-family: $Raleway;
  font-size: $x-large;
  font-weight: $bold;
}

h5 {
  font-family: $OpenSans;
  font-weight: $regular;
  font-size: $large;
}

p {
  font-family: $OpenSans;
  font-size: $medium;
  font-weight: $regular;
}
