// Colors Scheme
$White: #FFF;
$Platinum: #E8E8E8;
$Gray: #BABABA;

$DarkSalmon: #EE9480;
$Melon: #F4BAAE;
$PalePink: #FADFDA;

$BallBlue: #2AB7CA;
$MiddleBlue: #77D1DD;
$BlueLagoon: #B1E4EB;

$Onyx: #333745;
$SpanishGray: #8F9199;
$LavenderGray: #C7C8CC;

$RaisingBlack: #221D23;
$Nickel: #726F73;
$SilverChalice: #AEACAF;

// Fonts
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'Open Sans', sans-serif;


// FontWeight

$regular: 400;
$bold: 700;

// FontSizes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
