.header {
    background-image: url(../img/bg-hero.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    text-align: center;
    height: 850px;
    padding-top: 3.5em;

 }


 .header__title {
    padding-top: 2.5em;
 }

 
