.navbar-light {
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: $White;
}

.navbar-light .navbar-nav .nav-link {
  color: $RaisingBlack;
}

.nav__logo {
  width: 100%;
}

.navbar-toggler-icon {
  color: $White;
}
